VITE_API_URL=http://localhost:8000
VITE_DEMO_MODE=false
VITE_APP_BASE=/
VITE_FORCE_BACKEND_ONLINE=0
VITE_FORCE_GOOGLE_TRAFFIC=1
VITE_ROUTE_TRAFFIC_REFRESH_MS=120000
VITE_GOOGLE_TRAFFIC_TIMEOUT_MS=15000
VITE_GOOGLE_TRAFFIC_RETRIES=2
VITE_ROUTE_PLANNING_USE_CAPACITY=0
VITE_ROUTE_PLANNING_MAX_STOPS_PER_ROUTE=25
VITE_ROUTE_EXCLUDED_DRIVER_IDS=D002
VITE_ROUTE_EXCLUDED_DRIVER_USERNAMES=demo
VITE_ROUTE_EXCLUDED_DRIVER_NAME_TOKENS=demo
